@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body { 
    font-family: "Open sans", sans-serif;
    background-image: url("mrkrabssafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    place-content: center;
    font-size: 1.8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    width: 450px;
    padding: 24px;
    background-color: white;
    border-radius: 16px;
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

#mrkrabspic {
    width: 20dvh;
    height: 20dvh;
    object-fit: cover;
}

#loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #e2e2e2;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: #e2e2e2;
}
button:active {
    transform: scale(0.97)
}