@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100dvh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tile {
    background-color: #d3d6da;
    border: 2px solid #000000;
    width: 50px;
    height: 50px;
}