@import url('https://googleapis.com');

body { 
    font-family: "Open sans", sans-serif;
    background: linear-gradient(270deg, #0033ff8c 0%, #FFFF 100%);
    min-height: 100dvh;
    place-content: center;
}